
div#nuclblog-banner {
  top: 0px;
  text-align: center;
}

div#nuclblog-nav {
  float: left;
  width: 180px;
  margin-top: 6px;
}

div#nuclblog-content {
  padding-top: 12px;
  margin-top: 0px;
  margin-left: 185px;
}

div[class~="nuclblog-box"] {
  margin: 6px;
}

div[class~="nuclblog-box-body"] {
  padding: 1px 2px 6px 0px;
  margin: 0px;
}

div[class~="nuclblog-box-head"] {
  padding: 2px 6px 2px 6px;
}

div[class~="nuclblog-nav-button"] {
  margin: 6px;
  padding: 0px;
}

div[class~="nuclblog-nav-button"] > div[class~="nuclblog-box-head"] {
  padding: 1px;
  margin: 1px;
}

div[class~="nuclblog-nav-button"] > div[class~="nuclblog-box-body"] {
  padding: 2px;
}

ul {
  margin-left: 12px;
}

ul[class~="nuclblog-recent-entries"] {
}

ul[class~="nuclblog-buttons"] {
  margin: 2px 0px 0px 0px;
  list-style-type: none;
}

a[class~="nuclblog-button"], a[class~="nuclblog-button"] > img {
  border: none;
}

div[class~="nuclblog-entry"] {
  margin-bottom: 12px;
  padding: 0px;
}

div[class~="nuclblog-entry-head"] { }

div[class~="nuclblog-entry-title"] { }

div[class~="nuclblog-entry-date"] { }

div[class~="nuclblog-entry-text"] { }

div[class~="nuclblog-entry-contents"] { }

