[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no
[ req_distinguished_name ]
C                      = US
ST                     = California
L                      = Berkeley
O                      = Nuclblog Demo
OU                     = Nuclblog Unit
CN                     = Nuclblog User
emailAddress           = webmaster@localhost
